[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim
[submodule "bundle/cute-python"]
	path = bundle/cute-python
	url = http://github.com/ehamberg/vim-cute-python.git
[submodule "bundle/buftabs"]
	path = bundle/buftabs
	url = http://github.com/vim-scripts/buftabs.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = https://github.com/vim-scripts/pylint.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
