[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/current-func-info"]
	path = bundle/current-func-info
	url = git://github.com/fedesilva/current-func-info.vim.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tslime"]
	path = bundle/tslime
	url = http://github.com/kikijump/tslime.vim.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
